asgiref==3.7.2
certifi==2023.11.17
distlib==0.3.7
Django==5.0.1
django-faicon==0.1.0
django-richtextfield==1.6.1
filelock==3.13.1
pillow==10.2.0
pipenv==2023.11.15
platformdirs==4.0.0
PyYAML==6.0.1
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
setuptools==69.0.2
sqlparse==0.4.4
tzdata==2023.4
virtualenv==20.24.7
